.submit-now {
  margin-top: 20px;
  font-size: 16px;
  width: 200px;
  height: 50px;
  background-color: #ffffff;
  border-color: transparent;
}

.form-control.input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid silver;
  border-radius: 0px !important;
}

.getintouch {
  height: auto;
  background-image: url("../../assets/img/nasa-1lfI7wkGWZ4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 0 !important;
}

input[type="text"], input[type="email"], input[type="tel"], textarea {
  border-radius: 8px !important;
}

.modern-form {
  padding-top: 80px;
  padding-bottom: 80px;
}

.modern-form__hr {
  border-color: #4daade;
  border-width: 2px;
  width: 121px;
}

.modern-form__form-container {
  padding-top: 100px;
}

.modern-form__form-group--padding-r {
  padding-right: 20px;
}

.modern-form__form-group--padding-t {
  padding-top: 50px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.border.rounded.form-control {
}

*, *:before, *:after {
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}

